.detailpage * {
  font-family: "微软雅黑";
  font-size: 12px;
}
.detailpage .first-module {
  background-color: #f7fafa;
  border-bottom: 1px solid #d9d9de;
}
.detailpage .first-module .detail-box {
  padding: 50px 80px;
}
.detailpage .first-module .detail-box .box-title {
  width: 255px;
  margin: 0 auto;
}
.detailpage .first-module .detail-box .box-title h2 {
  font-size: 22px;
  color: #000;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.detailpage .first-module .detail-box .box-title h3 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-align: center;
  width: 100%;
  margin: 20px auto 40px;
}
.detailpage .first-module .detail-box .box-left {
  width: 680px;
  float: left;
}
.detailpage .first-module .detail-box .box-left img {
  width: 680px;
  height: 511px;
}
.detailpage .first-module .detail-box .box-left p {
  margin: 30px 0px;
  font-size: 12px;
  color: #999;
  font-weight: bold;
}
.detailpage .first-module .detail-box .box-left p .drama {
  padding-left: 15px;
  background: url(../image/drama.png) no-repeat center left;
  margin-right: 30px;
}
.detailpage .first-module .detail-box .box-left p .tv-intro {
  padding-left: 15px;
  background: url(../image/tv.png) no-repeat center left;
}
.detailpage .first-module .detail-box .box-left h2 {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  line-height: 30px;
}
.detailpage .first-module .detail-box .box-right {
  float: left;
  width: 320px;
  margin-left: 40px;
  font-weight: bold;
  font-family: "微软雅黑";
  padding: 35px 0px 60px;
}
.detailpage .first-module .detail-box .box-right h1 {
  color: #000;
  font-size: 40px;
}
.detailpage .first-module .detail-box .box-right h2 {
  color: #000;
  font-size: 14px;
  margin: 0px 0px 20px;
}
.detailpage .first-module .detail-box .box-right h2 span {
  font-weight: normal;
  margin-left: 20px;
}
.detailpage .first-module .detail-box .box-right p {
  margin: 40px 0px;
}
.detailpage .first-module .detail-box .box-right p .sup-pro {
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  background-color: #ff4200;
  border-radius: 5px;
  display: inline-block;
  width: 195px;
  height: 50px;
}
.detailpage .first-module .detail-box .box-right p .weixin {
  margin-left: 20px;
  padding-left: 25px;
  background: url(../image/weixin.png) no-repeat left center;
  display: inline-block;
  line-height: 50px;
  color: #999;
}
.detailpage .first-module .detail-box .box-right h5 {
  font-weight: normal;
  font-size: 12px;
  color: #999;
  margin-top: 30px;
  border-bottom: 1px solid #d9d9de;
  padding-bottom: 60px;
}
.detailpage .first-module .detail-box .box-right .right-bottom {
  padding: 80px 30px 0px;
  text-align: center;
}
.detailpage .first-module .detail-box .box-right .right-bottom .icon-left {
  width: 150px;
  float: left;
}
.detailpage .first-module .detail-box .box-right .right-bottom .icon-left p {
  line-height: 30px;
  margin: 0px;
}
.detailpage .first-module .detail-box .box-right .right-bottom .icon-left p span {
  color: #3faefe;
  margin: 15px;
}
.detailpage .first-module .detail-box .box-right .right-bottom img {
  float: left;
}
.detailpage .box-title2 {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #d9d9de;
  padding: 0px 80px;
  line-height: 80px;
}
.detailpage .box-title2 span {
  margin-right: 50px;
  display: inline-block;
  height: 80px;
}
.detailpage .box-title2 span.active {
  border-bottom: 2px solid #ff4200;
}
.detailpage .second-module {
  padding: 0px 80px;
  line-height: 80px;
}
.detailpage .second-module .pro-intro {
  padding: 50px 0px;
  position: relative;
  height: 1536px;
}
.detailpage .second-module .pro-intro img {
  /* width:680px; */
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
}
.detailpage .second-module .pro-intro img.show {
  display: block;
}
.detailpage .second-module .pro-intro .p-words {
  position: absolute;
  top: 200px;
  left: 70px;
  font-size: 40px;
  font-weight: bold;
  color: skyblue;
  display: none;
}
.detailpage .second-module .pro-intro .p-words.show {
  display: block;
}
.detailpage .second-module .pro-intro .bigimg-right {
  float: right;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox {
  width: 315px;
  background-color: #f7fafa;
  border-radius: 5px;
  border: 1px solid #d9d9de;
  margin-bottom: 30px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-title {
  border-radius: 5px;
  border-bottom: 1px solid #d9d9de;
  padding: 0px 20px;
  line-height: 50px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-title .span1 {
  float: left;
  width: 140px;
  font-size: 16px;
  font-weight: bold;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-title .span2 {
  float: left;
  color: #ff3300;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-title .span3 {
  float: left;
  font-size: 12px;
  color: #333;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-main {
  padding: 40px 20px;
  font-weight: bold;
  line-height: 20px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-main h1 {
  font-size: 15px;
  margin: 10px 0px 40px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-main h2 {
  font-size: 12px;
  font-weight: normal;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-main h3 {
  font-size: 12px;
  margin: 35px 0px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-main h3 span {
  font-weight: normal;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox .rightbox-main h4 {
  width: 160px;
  line-height: 40px;
  background-color: #ff4200;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox2 {
  background-color: #ffffc9;
  width: 315px;
  border-radius: 5px;
  border: 1px solid #d9d9de;
  font-size: 12px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox2 h1 {
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 1px solid #d9d9de;
  line-height: 50px;
  padding: 0px 20px;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox2 h2 {
  padding: 30px 20px 0px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox2 h2 span {
  color: #ff3300;
  font-weight: bold;
}
.detailpage .second-module .pro-intro .bigimg-right .bigimg-rightbox2 h3 {
  line-height: 20px;
  padding: 0px 20px 40px;
  font-weight: normal;
}
