.register-menu {
  /* 这两行是改变浏览器默认的input框自动填充的属性 */
}
.register-menu .clear:after {
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.register-menu .clear {
  -ms-zoom: 1;
}
.register-menu body {
  background-color: #f7fafa;
}
.register-menu h1,
.register-menu h2,
.register-menu h3,
.register-menu h4,
.register-menu h5,
.register-menu h6 {
  font-size: 14px;
  font-weight: normal;
}
.register-menu input {
  border: 0 none;
}
.register-menu input:-webkit-autofill {
  background-color: #FAFFBD;
  background-image: none;
  color: #000;
}
.register-menu input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
.register-menu form {
  width: 400px;
  margin: 40px auto;
}
.register-menu .box {
  width: 360px;
  border: 1px solid #dbdbe0;
  background-color: #fff;
  padding: 20px 20px 0px;
}
.register-menu .title {
  line-height: 45px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.register-menu .inp-pos {
  position: relative;
}
.register-menu .input-txt {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #dbdbe0;
  margin-bottom: 40px;
}
.register-menu .prompt {
  width: 350px;
  line-height: 40px;
  font-size: 11px;
  color: #ff0000;
  padding-left: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.register-menu .prompt-right {
  float: right;
  color: #999;
}
.register-menu .login-btn {
  background-color: #2bde73;
  text-align: center;
  line-height: 40px;
  width: 360px;
  border-radius: 5px;
}
.register-menu .rememberme {
  font-size: 12px;
  color: #999;
  line-height: 45px;
  padding-left: 10px;
}
.register-menu .icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  border: 1px solid #00a0ff;
  display: inline-block;
}
.register-menu .active {
  background: url(../image/theme.gif) no-repeat;
  background-position: -60px bottom;
  overflow: hidden;
}
.register-menu fieldset {
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
}
.register-menu legend {
  text-align: center;
}
.register-menu .login-style {
  text-align: center;
  line-height: 50px;
}
.register-menu .footer {
  background-color: #ccc;
  line-height: 60px;
  text-align: center;
  border: 1px solid #dbdbe0;
  border-top: 0;
  width: 400px;
}
.register-menu .footer > p > a {
  color: #00a0ff;
}
.register-menu .especial > .input-txt {
  float: left;
  width: 190px;
}
.register-menu .especial > .prompt-right {
  float: right;
  width: 150px;
  line-height: 40px;
  background-color: #ccc;
  border-radius: 5px;
  text-align: center;
}
