
<div class="form-menu">
	
 <form action="" method="get" name="myForm" ng-model="myForm" novalidate>
        <div class="box">
        	<h1 class="title">登录</h1>
        	<div class="inp-pos">
        		<input class="input-txt" type="text" name="phone" placeholder="请输入您的手机号码" ng-model="phone" ng-pattern="/^(1[^012][0-9]{9})$/" required >
			    <p class="prompt" ng-show="myForm.phone.$dirty && myForm.phone.$error.pattern">您输入的号码有误，请检查！</p>
        	</div>
			
           <!--   -->
           <div class="inp-pos">
           	   <input class="input-txt" type="text" name="password" placeholder="请输入您的密码" ng-model="password" ng-minlength="6">
			   <p class="prompt clear" ng-show="myForm.password.$dirty && myForm.password.$error.minlength">密码错误,请重新输入！ <span class="prompt-right" ><a ui-sref="password">忘记密码?</a></span></p>
           </div>
           
            <div>
				<button class="login-btn" ng-style="{background:myForm.$valid?'red':'#2bde73'}"><a ui-sref="selfindex.selfhome" ng-disabled="myForm.$valid==true">登录</a>
			</div>
			<p class="rememberme class"><span class="icon" ng-click="checkOn()" ng-class="{active:state}"></span> 记住我</p>

			<fieldset>
				<legend>第三方登录</legend>
				<p class="login-style"><span>qq</span> <span>微信</span> <span>新浪</span></p>
			</fieldset>
			
        </div>
        <div class="footer">
			<p><span>新用户?</span><a href="#/register">立即注册</a></p>
	    </div>
		
    </form>
</div>